/****** Script for SelectTopNRows command from SSMS  ******/
SELECT * FROM Customers

SELECT *
FROM Customers

SELECT
-- this is the first comment
FirstName,
LastName -- this is a second comment
FROM Customers

SELECT
/* this is the first comment */
FirstName,
LastName /* this is a second comment
this is still part of the second comment
this is the end of the second comment */
FROM Customers

SELECT LastName
FROM Customers

SELECT 
FirstName, 
LastName
FROM Customers

